body {
  margin: 0; /* Reset default margin of the body */
  background-color: #d7afc9 !important; /* Set the background color for the entire webpage */
}

form {
  max-width: 400px;
  margin: 10px auto;
  background-color: #ffffc9;
  border-radius: 20px;
  padding: 20px; /* Adds space inside the form */
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
textarea,
input[type="range"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

.date-picker {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container input[type="button"],
.button-container button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}

.button-container button {
  margin-left: 10px;
}

.tick-marks {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  width: 100%;
}

.tick-marks span {
  flex: 1;
  text-align: center;
  font-size: 12px;
}
