.Login-Signup {

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

.GrayRectangle 
{
    position: absolute;
    width: 1000px;
    height: 800px;
    left: 358px;
    top: 120px;
    
    background: #D9D9D9;
}

.ListIt {
position: absolute;
font-family: 'Inter';
font-style: normal;
font-size: 100px;
line-height: 100px;
text-align: end;
top: 5%;
right: 40%;

color: #000000;
}


username {
position: absolute;
width: 229px;
height: 35px;
left: 448px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: right;

color: #000000;
}


email {
position: absolute;
width: 232px;
height: 35px;
left: 445px;
top: 474px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: right;

color: #000000;
}


password {


position: absolute;
width: 232px;
height: 30px;
left: 445px;
top: 540px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: right;

color: #000000;
}


confirm password {


position: absolute;
width: 232px;
height: 30px;
left: 445px;
top: 613px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: right;

color: #000000;
}


UsernameField {

position: absolute;
width: 310px;
height: 47px;
left: 728px;
top: 400px;

background: #F4F4F4;
}

EmailField {


position: absolute;
width: 310px;
height: 47px;
left: 728px;
top: 468px;

background: #F4F4F4;
}

PasswordField1
{
position: absolute;
width: 310px;
height: 47px;
left: 728px;
top: 531px;

background: #F4F4F4;
}


Auto_layout {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 310px;
height: 47px;
left: 728px;
top: 601px;

background: #F4F4F4;
}


todo-list_svgrepo.com{

position: relative;
width: 109px;
height: 111px;
}

.block {
    position: absolute;
    display: block;
    width: 50%;
    height: 10%;
    border: none;
    background-color: #A8FFA0;
    color: #000000;
    padding: 14px 28px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    flex-direction: row;
    bottom: 7%;
    right: 25%;
}