Home {
  padding: 20px;
}

.background-pink {
	background-color: #D7AFC9;
	height: 100vh;
	width: 100vw;
	overflow: auto; 
}

.GrayRectangle {
  position: absolute;
  width: 1000px;
  height: 800px;
  left: 358px;
  top: 120px;

  background: #ffffc9;
}

.ListItHeader {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  top: 100px;
  right: 38%;
  color: #000000;
}

.loginbutton {
  position: absolute;
  width: 350px;
  height: 58px;
  left: 100px;
  top: 605px;
}

.passwordbutton {
  position: absolute;
  width: 350px;
  height: 58px;
  left: 550px;
  top: 605px;
}

.usernamefield {
  position: absolute;
  width: 600px;
  left: 208px;
  top: 250px;
}

.passwordfield {
  position: absolute;
  width: 600px;
  left: 208px;
  top: 400px;
}
