calendarbox {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #737373;
}

calendarboxright {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  top: 0px;

  background: #737373;
}

.calendar {
  position: absolute;
  width: 62px;
  height: 57px;
  left: 19px;
  top: 22px;
}

.header {
  position: absolute;
  width: 1593px;
  height: 100px;
  left: 100px;
  right: 100px;
  top: 0px;

  background: #a8c7f7;
}

.headtext {
  position: relative;
  width: 1240px;
  height: 100px;
  left: 650px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  display: flex;
  text-align: center;
  vertical-align: center;

  color: #000000;
}

.addbut {
  position: absolute;
  width: 51px;
  height: 53px;
  right: 22px;
  top: 24px;
}

.daylist {
  position: absolute;
  width: 1763px;
  height: 72px;
  left: 14px;
  top: 110px;

  background: #c6c6c6;
}

.daylist > h1 {
  position: relative;
  display: inline-block;
  padding: 40px;
  bottom: 60px;
  height: 74px;
  left: 40px;
  text-align: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 36px;

  color: #000000;
}

.monlist {
  position: absolute;
  width: 243px;
  height: 810px;
  left: 14px;
  top: 194px;

  background: #eeeeee;
}

.tuelist {
  position: absolute;
  width: 243px;
  height: 810px;
  left: 265px;
  top: 194px;

  background: #eeeeee;
}

.wedlist {
  position: absolute;
  width: 243px;
  height: 810px;
  left: 517px;
  top: 194px;

  background: #eeeeee;
}

.thulist {
  position: absolute;
  width: 243px;
  height: 810px;
  left: 767px;
  top: 194px;

  background: #eeeeee;
}

.frilist {
  position: absolute;
  width: 243px;
  height: 810px;
  left: 1017px;
  top: 194px;

  background: #eeeeee;
}

.satlist {
  position: absolute;
  width: 243px;
  height: 810px;
  left: 1267px;
  top: 194px;

  background: #eeeeee;
}

.sunlist {
  position: absolute;
  width: 255px;
  height: 810px;
  left: 1517px;
  top: 194px;

  background: #eeeeee;
}

.line {
  height: 5px;
  background-color: black;
  font-weight: bold;
}